body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.428571429;
  color: #333;
}
.highlight{
  background-color: #dddddd;
  color: #000;
}

.allSpan{
  height:300px;
  width:500px;
  text-align: center;
  margin:0 auto;
  /* word-wrap: break-word */
   word-wrap: normal;
   /* visibility: hidden; */
}

span{
  margin-right: 10px;
  padding-left: 5px;
  border-radius: 15%;
   /* border: #000 solid 1px; */
}

.full{
  text-align: center;
  margin:0 auto;
}

.full{
  position:relative; z-index: 1;
}
/* .clear{
  background-color:red;
  position:fixed;
  top:50;
  height: 100px;
  width: 100px;
  z-index: 1;
}
                
.not-clear{
  background-color:blue;
  height: 100px;
  width: 100px;
  position:fixed;
  z-index: 1
} */


.correct{
  color:green;
}
.mistake{
  color:red;
}

.wrong-typed{
  background-color: red;
}

.input-section{
  display: flex;
  margin:0 auto;
  z-index: 1;
  height: 40px;
  width:500px;
  /* border: #000 solid 1px; */
  justify-content: center;
  align-items: center;
  background-color: #fff;

  & input{
    height:100%;
    width:100%;
    margin-right: 5px;
  }

  & .timer{
    display: inline-flex;
    margin: 0px 5px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width:70px;
    color:white;
    height: 100%;
  }
  & i{
    background-color: blue;
    z-index: 1;
    padding-right: 10px;
    padding-left: 10px;
    width:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.result{
  display: none;
  width:100vh;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: #000;

}